<div class="flex flex-wrap items-start w-full max-w-800 m-8">
  <ng-container *ngFor="let name of filterNames; let i = index">
    <fuse-card class="flex flex-col max-w-80 w-full px-8 pt-6 pb-4 filter-list mr-8">
      <div class="flex items-center justify-between">
        <div class="text-2xl font-semibold leading-tight">{{name}}</div>
        <div class="-mr-3">
          <button mat-basic-chip (click)="selectAll(name)">重置</button>
        </div>
      </div>
      <div class="flex flex-col mt-3 h-50" fuseScrollbar [fuseScrollbarOptions]="{suppressScrollX: false}">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip *ngFor="let item of getFilter(enabledFilters, name)"
                    [color]="filterColor(item, name)" selected
                    (click)="onClick(item, name)">
            {{item}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </fuse-card>
  </ng-container>
</div>
